/*- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

FONTS
'Lekton', sans-serif; za footer 400
'Montserrat', sans-serif; 300 400 500 600 700 za sve
'Playfair Display', serif; za highlight 400 500 600


- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

colors
#F7F4EB
#E9DECC
#516258
#A39393
primary
tints
shades
grey: #EEEBE6

*/
html {
  font-size: 62, 5%;
}

* {
  box-sizing: border-box;
}

/***** GENERAL REAUSABLE COMPONENTS  *******/

.container {
  max-width: 72rem;
  margin: 0 auto;
}

.btn-link {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Lekton", sans-serif;
  font-weight: bold;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid black;
  color: black;
}

/***************************************************/
/*******  HEADER  ********/

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f7f4eb;
  border-bottom: 1px solid black;
}

.logo {
  margin-left: 1.2rem;
}

.main-nav-list {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  border-left: 1px solid black;
}

.main-nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
}

/**** SECTION HERO ****/

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.hero-img-box {
  border-bottom: 1px solid black;
}

.hero-img {
  width: 100%;
  height: 100%;
}

.hero-text-box {
  background-color: #e9decc;
  border-left: 1px solid black;
  position: relative;
  border-bottom: 1px solid black;
}

.hero-title {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  letter-spacing: 1px;
  font-weight: 600;
  padding-top: 4rem;
  padding-left: 4rem;
}

.hero-text {
  width: 22rem;
  margin-bottom: 4.8rem;
  position: absolute;
  bottom: 0;
  margin-left: 50%;
  transform: translateX(-50%);
}

.hero-info {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 2.4rem;
}

/**** SECTION PRODUCTS ****/

.products {
  margin-bottom: 30rem;
  background-color: #f7f4eb;
  border-bottom: 1px solid black;
  padding-top: 10rem;
  padding-bottom: 7rem;
}

.product-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.product-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.product-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
}

.product-card {
  width: 15rem;
}

.product-img {
  width: 100%;
  margin-bottom: 1.2rem;
}

.product-info {
  display: flex;
  justify-content: space-between;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.price {
  font-family: "Lekton", sans-serif;
  font-weight: 400;
}

.product-btn {
  width: 100%;
  background-color: #eeebe6;
  font-family: "Lekton", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 0.8rem 0;
  margin-bottom: 0;
}
