/*- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

FONTS
'Lekton', sans-serif; za footer 400
'Montserrat', sans-serif; 300 400 500 600 700 za sve
'Playfair Display', serif; za highlight 400 500 600


- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

colors:
primary
#F7F4EB
#E9DECC
#516258
#A39393
#957F58

tints

shades #d2c8b8

grey: 
#EEEBE6
#747474

*/
html {
  font-size: 62, 5%;
}

* {
  box-sizing: border-box;
}

/***** GENERAL REAUSABLE COMPONENTS  *******/

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 72rem;
  margin: 0 auto;
}

.section-title {
  font-family: "Playfair Display", serif;
  font-size: 2.7rem;
  letter-spacing: 1px;
  font-weight: 600;
}

.btn-link:link,
.btn-link:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Lekton", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: 1px solid black;
  color: black;
}

.button {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-span {
  display: flex;
  background-color: #e9decc;
  border: 1px solid black;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
}

.button-span:hover {
  background-color: #d2c8b8;
}

.btn {
  text-decoration: none;
  color: black;
  padding: 0 7rem;
  font-family: "Lekton", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.icon-span {
  background-color: #e9decc;
  height: 100%;
  width: 3rem;
  border: 1px solid black;
  border-left: none;
}

.icon {
  height: 2rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

/***************************************************/
/*******  HEADER  ********/

.header {
  background-color: #f7f4eb;
  border-bottom: 1px solid black;
  height: 3.8rem;
}

.logo-div,
.main-nav {
  flex: 1 0 50%;
}

.logo {
  margin-left: 1.2rem;
}

.main-nav-list {
  height: 100%;
  justify-content: space-between;
  border-left: 1px solid black;
}

.main-nav-list-item {
  width: 11.6rem;
  height: 100%;
  border-right: 1px solid black;
  align-items: center;
  justify-content: center;
}

.main-nav-list-item:last-child {
  border: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  transform: scale(1.1);
}

/**** SECTION HERO ****/

.hero {
  border-bottom: 1px solid black;
  height: 100vh;
}

.hero-img-box,
.hero-text-box {
  flex: 1 0 50%;
}

.hero-img-box {
  width: 50%;
}

.hero-img-box {
  background-image: url(/assets/img/hero.PNG);
  background-position: center;
  background-size: cover;
}

.hero-text-box {
  background-color: #e9decc;
  border-left: 1px solid black;
  justify-content: space-between;
}

.hero-title {
  padding-top: 3.5rem;
  padding-left: 4rem;
  margin-bottom: 3rem;
}

.hero-text {
  width: 22rem;
  margin-bottom: 6rem;
  margin-left: 20rem;
}

.hero-info {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 2.4rem;
}

/**** SECTION PRODUCTS ****/

.products {
  background-color: #f7f4eb;
  border-bottom: 1px solid #747474;
  padding-top: 5rem;
}

.product-header {
  justify-content: space-between;
  margin: 5rem 0 1rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  align-items: center;
  letter-spacing: -1px;
  line-height: 1.4rem;
}

.product-container {
  justify-content: space-between;
  margin-bottom: 6rem;
  flex-wrap: wrap;
}

.product-card {
  width: 15rem;
  margin-bottom: 1rem;
}

.product-img {
  width: 100%;
  height: 19rem;
  margin-bottom: 1.2rem;
}

.product-info {
  justify-content: space-between;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.price {
  font-family: "Lekton", sans-serif;
  font-weight: 400;
}

.product-btn {
  width: 100%;
  background-color: #eeebe6;
  font-family: "Lekton", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 0.7rem 0;
}

/***** SECTION TESTIMONIALS ************/
.testimonials {
  align-items: center;
  justify-content: center;
  background-color: #f7f4eb;
  border-bottom: 1px solid #747474;
}

.testimonials-text {
  text-align: center;
  width: 42rem;
  font-size: 1.6rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.9rem;
  padding: 6rem 0 2rem 0;
  letter-spacing: 1px;
}

.vogue {
  text-transform: uppercase;
  font-family: "Lekton", sans-serif;
  letter-spacing: 1.5px;
  margin-bottom: 5.5rem;
}

/**** SECTION ROLL-IT-ON *******/

.roll {
  height: 46rem;
  border-bottom: 1px solid black;
}

.text-box,
.roll-img-box {
  width: 50%;
}

.roll-img-box,
.text-box {
  flex: 50%;
}

.text-box {
  background-color: #f7f4eb;
  border-right: 1px solid #747474;
}

.text-box a:link,
.text-box a:visited {
  margin-left: 31.5%;
}

.text-title {
  padding-top: 6rem;
  padding-left: 4rem;
  margin-bottom: 22rem;
}

.text {
  width: 100%;
  display: flex;
  justify-content: center;
}

.info {
  width: 22rem;
  letter-spacing: -0.5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 2.4rem;
}

.roll-img-box {
  background-color: #957f58;
  align-items: center;
  justify-content: center;
}

.roll-img-wrap {
  height: 35rem;
}

.roll-img {
  height: 100%;
}

/**** SECTION FEATURES ******/

.features {
  background-color: #516258;
  color: white;
  border-bottom: 1px solid #747474;
}

.features-header {
  justify-content: space-between;
  align-items: center;
  padding: 6rem 8rem 7.4rem 4rem;
}

.features-btn:link,
.features-btn:visited {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Lekton", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: 1px solid white;
  padding-bottom: 0.5rem;
}

.feature-container {
  margin-left: 11%;
}

.features-box {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 5.5rem;
  flex-wrap: wrap;
}

.feature-1 {
  width: 20rem;
  margin-left: 10rem;
  margin-bottom: 1rem;
}

.feature-img-1 {
  height: 23rem;
  margin-bottom: 1.3rem;
}

.feature-1 .feature-title {
  padding-bottom: 1.5rem;
}

.feature-text {
  line-height: 1.2rem;
}

.feature-2 {
  justify-content: space-between;
  padding-bottom: 1rem;
  width: 49rem;
  margin-left: 3rem;
}

.feature-2 .feature-title {
  text-align: right;
  line-height: 1.2rem;
  width: 6rem;
}

.feature-2 .feature-title:first-child {
  padding-bottom: 12.5rem;
}

.gap {
  gap: 1rem;
}

.feature-img-2 {
  height: 15.5rem;
}

/**** SECTION SETS ****/

.section-sets {
  background-color: #f7f4eb;
  border-bottom: 1px solid black;
}

.sets-header {
  text-align: center;
  padding: 5rem 0 4rem 0;
}

.sets {
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4.6rem;
  flex-wrap: wrap;
}

.set-img {
  height: 35rem;
  margin-bottom: 1.2rem;
}

.set-info {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  font-weight: 500;
}

.shop-all {
  margin-bottom: 7.5rem;
}

/***** SECTION FEATURED IN ****/

.featured-in {
  height: 27.5rem;
  border-bottom: 1px solid black;
  justify-content: stretch;
  background-color: #f7f4eb;
}

.feat {
  border-right: 1px solid black;
  width: 25%;
}

.feat:last-child {
  border-right: none;
}

.feat-1-text {
  margin: 2rem 15rem 2rem 2rem;
  padding-right: 0.8rem;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featured-title {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 1.7rem;
}

.feat-logo {
  border-bottom: 1px solid black;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.feat-logo-img {
  display: block;
  height: 100%;
}

.feat-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 78.3%;
}

.feat-info {
  font-family: "Montserrat", sans-serif;
  padding: 1.5rem 1rem 0 1.5rem;
  line-height: 1.5rem;
  font-weight: 500;
}

#last-feat {
  border-right: 1px solid black;
}

.read-article {
  width: 100%;
  border-left: none;
}

.feat-box .icon-span {
  border-right: none;
}

/**** FOOTER ****/

footer {
  background-color: #a39393;
  height: 29.5rem;
}

.sign-up-box,
.footer-links-box {
  width: 50%;
}

.sign-up-box {
  border-right: 1px solid black;
}

.sign-up-title {
  margin-top: 7rem;
  margin-left: 18rem;
  margin-bottom: 3rem;
  font-size: 1.6rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  line-height: 2rem;
  letter-spacing: 0.5px;
}

.sign-up {
  margin-left: 16rem;
  border-bottom: 1px solid black;
  width: 26.3rem;
}

.email {
  margin-right: 0;
  border: none;
  padding-bottom: 0.3rem;
  font-size: 0.9rem;
  font-family: "Lekton", sans-serif;
  background-color: transparent;
  width: 20rem;
}

::placeholder {
  color: rgb(53, 53, 53);
  letter-spacing: 1px;
}

.submit-btn {
  font-family: "Lekton", sans-serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-bottom: 0.3rem;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  width: 6rem;
  text-align: end;
  margin-left: 0;
}

.footer-links-box {
  gap: 4rem;
  padding-top: 8rem;
  padding-left: 14rem;
}

.list-title {
  border-bottom: 1px solid black;
}

.footer-list li {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-family: "Lekton", sans-serif;
}

.footer-list li a:link,
.footer-list li a:visited {
  text-decoration: none;
  color: black;
  transition: 0.3s all;
}

.footer-list li a:hover,
.footer-list li a:active {
  font-weight: bold;
}
